.contacts_box {
  width: 100%;
}

.contact_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_item {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
